.mid{
    height: 100px;
    width: 100vw;
    /* border: 2px solid black; */
    justify-content: center;
    margin-top: 70px;
    padding-left: 575px;
}

.whole_card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}